<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>GISTDA UTM</title>
    <link rel = "icon" type = "image/png" href = "https://raw.githubusercontent.com/Apizz789/GISTDA_INTERNSHIP/main/PIC/astrolablogo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="https://sandcastle.cesium.com/Sandcastle-header.js"></script>


</head>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");


    body {
        margin: 50;
        padding: 0;
        font-family: "Montserrat", sans-serif;
        background-color: #212c3b;
    }

    header {
        background-color: #141b25;
        border-radius: 20px;
    }

    .intoolbar {
        margin-top: 10px;
    }

    .main-nav {
        height: 90px;
        margin-bottom: 10px;
    }

    .logo {
        color: white;
        line-height: 90px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 30px;
        font-family: "AstroSpace", sans-serif;
    }

    .navlinks {
        list-style: none;
        float: right;
        line-height: 90px;
        margin: 0;
        padding: 0;
    }

    .navlinks li {
        display: inline-block;
        margin: 0px 20px;
    }

    .navlinks li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: all 0.3s linear 0s;
        text-transform: uppercase;
    }

    .navlinks li a:hover {
        color: #7ebcb9;
        padding-bottom: 7px;
        border-bottom: 2px solid #7ebcb9;
    }

    li a.contact {
        background-color: #00adb5;
        padding: 9px 20px;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        border-bottom: none;
    }

    li a.contact:hover {
        background-color: #047e85;
        color: white;
        border-bottom: none;
    }

    #check {
        display: none;
    }

    .menu-btn {
        font-size: 25px;
        color: white;
        float: right;
        line-height: 90px;
        margin-right: 40px;
        display: none;
        cursor: pointer;
    }

    @media (max-width: 800px) {
        .navlinks {
            position: fixed;
            width: 100%;
            height: 100vh;
            text-align: center;
            transition: all 0.5s;
            right: -100%;
            background: #222831;
        }

        .navlinks li {
            display: block;
        }

        .navlinks li a {
            font-size: 20px;
        }

        .navlinks li a:hover {
            border-bottom: none;
        }

        .menu-btn {
            display: block;
            z-index: 99;
        }

        #check:checked~.navlinks {
            right: 0;
        }
    }

    @media (max-width: 360px) {
        .logo {
            margin-left: 10px;
            font-size: 25px;
        }

        .menu-btn {
            margin-right: 10px;
            font-size: 25px;
        }

        .menu-btn:focus {
            color: blue;
        }
    }
</style>

<body>
    <header>
        <nav class="main-nav">
            <input type="checkbox" id="check" />
            <label for="check" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="#" class="logo"><img
                    src="https://raw.githubusercontent.com/Apizz789/GISTDA_INTERNSHIP/main/PIC/AstroLab-BW.png"
                    alt="HTML tutorial" class="logo " style="width: 140px; height: 70px; margin-top: 10px;"></a>

            <ul class="navlinks">
                <li><a href="#">GISTDA_INTERNSHIP</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#" class="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="cesiumContainerBox">
        <center>


            <div id="cesiumContainer" class="fullSize" style="z-index: -99; width: 1800px; height: 800px; ">
                <div style="z-index: 1; position:absolute; background-color:rgba(0, 0, 0, 0.583); margin: 5px; border-radius:20px; width: 500px; height:80px;">

                    <!-- <button class="cesium-button cesium-button-toolbar" onclick="testtemp1()">Show THALAND</button>
                    <button class="cesium-button cesium-button-toolbar" onclick="testtemp2()">Hide THALAND</button> -->
                    <div class="intoolbar">
                        <div>
                            <button class="cesium-button cesium-button-toolbar" onclick="loadModel()">Load
                                Model</button>
                            <button class="cesium-button cesium-button-toolbar" onclick="playTime()">Play Time</button>
                            <button class="cesium-button cesium-button-toolbar" onclick="pauseTime()">Stop Time</button>
                        </div>

                        <div>
                            <button class="cesium-button cesium-button-toolbar" onclick="Slow()">Slow 1x Time</button>
                            <button class="cesium-button cesium-button-toolbar" onclick="Speed()">Speed 1x Time</button>
                            <button class="cesium-button cesium-button-toolbar" onclick="clearAll()">Clear All
                                Entity</button>
                        </div>

                    </div>

                </div>

                <div>
                    <img
                    src="https://raw.githubusercontent.com/Apizz789/GISTDA_INTERNSHIP/main/PIC/AstroLab-BW.png"
                    alt="HTML tutorial" class="logo " style="z-index: 50;  position:absolute;  width: 140px; height: 70px; left:50px;top:810px; margin-top: 10px;">

                </div>
            </div>
        </center>

    </div>


</body>
<script>
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI3ZjQ3MDZlOS1jMGQyLTRmMDctODhkZi1mMWI0MDFiYTllNTMiLCJpZCI6OTE4MjMsImlhdCI6MTY1NDU4MDQzNH0.qeZfFnvOr8ZhvCqR744X_wiSBoow1c8htCGHcx7BkW4';
    // Plot Focus THAILAND.
    Cesium.Camera.DEFAULT_VIEW_RECTANGLE = Cesium.Rectangle.fromDegrees(63.076400, -31.700130, 139.064604, 52.234528);
    const viewer = new Cesium.Viewer('cesiumContainer', {
        geocoder:false,
        baseLayerPicker:false,
        navigationHelpButton:false,
        shouldAnimate: true,
        terrainProvider: Cesium.createWorldTerrain(),

    });


    const entities = viewer.entities;
    viewer.fullscreenButton.container.style.visibility = "hidden";
    viewer.animation.container.style.visibility = "hidden";
    viewer.timeline.container.style.visibility = "hidden";
    viewer._cesiumWidget._creditContainer.style.display = "none";
    viewer.scene.debugShowFramesPerSecond = true;

    const osmBuildings = viewer.scene.primitives.add(Cesium.createOsmBuildings());
    // http://geojson.io/#map=9/13.5913/100.5469 GEN LAT LONG TYPE JSON




    //  ANIMATION Button najaa


    Cesium.knockout.getObservable(viewer.clockViewModel,
        'shouldAnimate').subscribe(function (isAnimating) {
            if (isAnimating) {
                console.log('Cesium clock is animating.');
            } else {
                console.log('Cesium clock is paused.');
            }
        });



    function playTime() {
        viewer.clockViewModel.shouldAnimate = true;
    }


    function pauseTime() {
        viewer.clockViewModel.shouldAnimate = false;
    }

    function Slow() {
        viewer.clockViewModel.multiplier /= 1.1;
    };

    function Speed() {
        viewer.clockViewModel.multiplier *= 1.1;
    };




    const boxes_guardian_items = entities.add(new Cesium.Entity());

    const boxes_sixzax_items = entities.add(new Cesium.Entity());


    const boxes_thailand_items_Wait1 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Wait2 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Wait3 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Wait4 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Wait5 = entities.add(new Cesium.Entity());
    const boxes_guardian_items_BW_list = [boxes_thailand_items_Wait1, boxes_thailand_items_Wait2, boxes_thailand_items_Wait3, boxes_thailand_items_Wait4, boxes_thailand_items_Wait5]


    const boxes_thailand_items_Color1 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Color2 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Color3 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Color4 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Color5 = entities.add(new Cesium.Entity());
    const boxes_thailand_items_Color_list = [boxes_thailand_items_Color1, boxes_thailand_items_Color2, boxes_thailand_items_Color3, boxes_thailand_items_Color4, boxes_thailand_items_Color5]


    const brillboard = entities.add(new Cesium.Entity());


    function testtemp1() {

        boxes_thailand_items_Color1.show = true;
        boxes_thailand_items_Color2.show = true;
        boxes_thailand_items_Color3.show = true;
        boxes_thailand_items_Color4.show = true;
        boxes_thailand_items_Color5.show = true;

        boxes_thailand_items_Wait1.show = false;
        boxes_thailand_items_Wait2.show = false;
        boxes_thailand_items_Wait3.show = false;
        boxes_thailand_items_Wait4.show = false;
        boxes_thailand_items_Wait5.show = false;


        var THA_RED = Cesium.Color.RED.withAlpha(0.5)
        var THA_WHITE = Cesium.Color.WHITE.withAlpha(0.5)
        var THA_BLUE = Cesium.Color.BLUE.withAlpha(0.5)
        var color_tha_flag = [THA_RED, THA_WHITE, THA_BLUE, THA_WHITE, THA_RED]


        for (var list_color_flag = 10; list_color_flag < 15; list_color_flag++) {
            entities.add({
                name: "THAILAND NO. " + [list_color_flag - 9],
                parent: boxes_thailand_items_Color_list[list_color_flag - 10],
                position: Cesium.Cartesian3.fromDegrees(temp_boxes[list_color_flag][0], temp_boxes[list_color_flag][1], (70.0 * list_color_flag) / 10),
                box: {
                    dimensions: new Cesium.Cartesian3(30.0, 30.0, 100.0),
                    material: color_tha_flag[list_color_flag - 10],
                    outline: true,
                    outlineColor: Cesium.Color.BLACK,
                },

            });



        }

        //  RAK CHATKULLLLLLLLLLLLLLLLLLLLLLLLLL

    }


    function testtemp2() {
        boxes_thailand_items_Color1.show = false;
        boxes_thailand_items_Color2.show = false;
        boxes_thailand_items_Color3.show = false;
        boxes_thailand_items_Color4.show = false;
        boxes_thailand_items_Color5.show = false;

        boxes_thailand_items_Wait1.show = true;
        boxes_thailand_items_Wait2.show = true;
        boxes_thailand_items_Wait3.show = true;
        boxes_thailand_items_Wait4.show = true;
        boxes_thailand_items_Wait5.show = true;


    }



    function tha_flag1() {
        boxes_thailand_items_Wait1.show = false;
        boxes_thailand_items_Color1.show = true;

        var THA_RED = Cesium.Color.RED.withAlpha(0.5)

        entities.add({
            name: "THAILAND NO. 1",
            parent: boxes_thailand_items_Color1,
            position: Cesium.Cartesian3.fromDegrees(temp_boxes[10][0], temp_boxes[10][1], (70.0 * 10) / 10),
            box: {
                dimensions: new Cesium.Cartesian3(30.0, 30.0, 1000.0),
                material: THA_RED,
                outline: true,
                outlineColor: Cesium.Color.BLACK,
            },
        });



    }

    function tha_flag2() {
        boxes_thailand_items_Wait2.show = false;
        boxes_thailand_items_Color2.show = true;


    }

    function tha_flag3() {
        boxes_thailand_items_Wait3.show = false;
        boxes_thailand_items_Color3.show = true;

    }

    function tha_flag4() {
        boxes_thailand_items_Wait4.show = false;
        boxes_thailand_items_Color4.show = true;

    }
    function tha_flag5() {
        boxes_thailand_items_Wait5.show = false;
        boxes_thailand_items_Color5.show = true;

    }




    var n_count_dummy_flag = 0;
    function count_flag() {


        if (n_count_dummy_flag == 1) {
            boxes_thailand_items_Color1.show = true;
            boxes_thailand_items_Wait1.show = false;
            console.log("SHOW 1")
        } else if (n_count_dummy_flag == 2) {
            boxes_thailand_items_Color2.show = true;
            boxes_thailand_items_Wait2.show = false;
            console.log("SHOW 2")
        } else if (n_count_dummy_flag == 3) {
            boxes_thailand_items_Color3.show = true;
            boxes_thailand_items_Wait3.show = false;
            console.log("SHOW 3")
        } else if (n_count_dummy_flag == 4) {
            boxes_thailand_items_Color4.show = true;
            boxes_thailand_items_Wait4.show = false;
            console.log("SHOW 4")
        } else if (n_count_dummy_flag == 5) {
            boxes_thailand_items_Color5.show = true;
            boxes_thailand_items_Wait5.show = false;
            console.log("SHOW 5")
        }


    }


    var temp_line = []
    temp_line.push(
        [13.099568542346896, 100.9256511926651, 100.0],
        [13.099537193404531, 100.92564046382904, 99.0],
        [13.099484945158382, 100.92561900615692, 98.50],
        [13.099419634835106, 100.92560291290283, 98.25],
        [13.099349099666506, 100.9255975484848, 98.125],


        // P5
        [13.099239378252992, 100.92564582824706, 98.0],
        // P4
        [13.098915438556338, 100.92587113380432, 91.0],
        // P3
        [13.098581048745066, 100.92609643936157, 84.0],
        // P2
        [13.09825710818236, 100.92632174491882, 77.0],
        // P1
        [13.097943616909477, 100.92655777931213, 70.0],



        [13.097943616909477, 100.92690780758858, 60.75],
        [13.097943616909477, 100.9271813929081, 60.5],


        [13.097974966054723, 100.92870086431503, 60.0],
        [13.097974966054723, 100.92905893921852, 60.0],

        [13.097974966054723, 100.92942774295807, 60.0],


        [13.098419078516987, 100.92942774295807, 60.0],
        [13.098993811102675, 100.92942774295807, 60.0],
        [13.099605116107945, 100.92942774295807, 60.0],
        [13.10023209402394, 100.92942774295807, 60.0],


        [13.100676202415105, 100.92942774295807, 60.0],
        [13.100686652014678, 100.93045771121977, 60.0],
        [13.099787984831707, 100.93048453330994, 60.0],
        [13.099782760012907, 100.92994272708893, 60.0],
        [13.097995865482678, 100.92999637126921, 50.0],

    )



    var temp_boxes = []
    temp_boxes.push(

        // ---------------- 
        // THAI GUARDIAN . 0 - 9
        // ----------------
        [100.92917561531067, 13.100618729609614],
        [100.93069911003113, 13.100608280007178],
        [100.92912197113037, 13.099605116107945],
        [100.93069911003113, 13.09968871325566],

        // main Guedian
        [100.92990517616272, 13.10019029554588],

        [100.9298837184906, 13.101214356215575],
        [100.9295403957367, 13.100926992682078],
        [100.93032896518707, 13.10094789185947],
        [100.92863380908966, 13.1001223730039],
        [100.93117654323578, 13.10015372187175],

        // ---------------- 
        //  THALAND Flag . 10 - 14
        // ----------------

        [100.92655777931213, 13.097943616909477],
        [100.92632174491882, 13.09825710818236],
        [100.92609643936157, 13.098581048745066],
        [100.92587113380432, 13.098915438556338],
        [100.92564582824706, 13.099239378252992],

        // ---------------- 
        //  ZIGZAX STEP . 15 - 24
        // ----------------
        [100.92725515365599, 13.097943616909477],
        [100.92781037092209, 13.097943616909477],
        [100.92833340167999, 13.097943616909477],
        [100.92888861894606, 13.097943616909477]


    );



    var r = 255, g = 0, b = 0;
    const random_color_start_time = Cesium.JulianDate.now();
    //New color every time it's called
    var fadeColor = new Cesium.CallbackProperty(function (random_color_start_time, result) {
        if (r > 0 && b === 0) {
            r--;
            g++;
        }
        if (g > 0 && r === 0) {
            g--;
            b++;
        }
        if (b > 0 && g === 0) {
            r++;
            b--;
        }

        return Cesium.Color.fromBytes(r, g, b, 160, result);
    }, false);



    for (var a = 0; a < temp_boxes.length; a++) {

        if (a <= 9) {

            if (a != 4) {
                entities.add({
                    name: "Red box with black outline" + [a],
                    parent: boxes_guardian_items,
                    position: Cesium.Cartesian3.fromDegrees(temp_boxes[a][0], temp_boxes[a][1], 20.0),
                    box: {
                        dimensions: new Cesium.Cartesian3(25.0, 25.0, 50.0),
                        material: Cesium.Color.RED.withAlpha(0.5),
                        outline: true,
                        outlineColor: Cesium.Color.BLACK,
                    },
                });

            } else if (a == 4) {

                entities.add({
                    name: "Red box with black outline" + [a],
                    parent: boxes_guardian_items,
                    position: Cesium.Cartesian3.fromDegrees(temp_boxes[a][0], temp_boxes[a][1], 60.0),
                    box: {
                        dimensions: new Cesium.Cartesian3(25.0, 25.0, 75.0),
                        material: new Cesium.ColorMaterialProperty(fadeColor),
                        outline: true,
                        outlineColor: Cesium.Color.BLACK,
                    },
                });


            }

        } else if (a > 9 && a < 15) {

            entities.add({
                name: "THAILAND NO. " + [a - 9],
                parent: boxes_guardian_items_BW_list[a - 10],
                position: Cesium.Cartesian3.fromDegrees(temp_boxes[a][0], temp_boxes[a][1], (20.0 * (a - 9)) / 100),
                box: {
                    dimensions: new Cesium.Cartesian3(25.0, 100.0, 300.0),
                    material: Cesium.Color.DEEPSKYBLUE.withAlpha(0.5),
                    outline: true,
                    outlineColor: Cesium.Color.BLACK,
                },
            });
            console.log("555+")

        } else if (a >= 15) {

            if (a == 15 || a == 17) {
                entities.add({
                    name: "SIXZAX NO. " + [a - 14],
                    parent: boxes_sixzax_items,
                    position: Cesium.Cartesian3.fromDegrees(temp_boxes[a][0], temp_boxes[a][1], 100.0),
                    box: {
                        dimensions: new Cesium.Cartesian3(25.0, 100.0, 50.0),
                        material: Cesium.Color.BLACK.withAlpha(0.5),
                        outline: true,
                        outlineColor: Cesium.Color.BLACK,
                    },
                });

            } else {
                entities.add({
                    name: "SIXZAX NO. " + [a - 14],
                    parent: boxes_sixzax_items,
                    position: Cesium.Cartesian3.fromDegrees(temp_boxes[a][0], temp_boxes[a][1], 20.0),
                    box: {
                        dimensions: new Cesium.Cartesian3(25.0, 100.0, 50.0),
                        material: Cesium.Color.GOLD.withAlpha(0.5),
                        outline: true,
                        outlineColor: Cesium.Color.BLACK,
                    },
                });

            }

        }

    }


    var THA_RED = Cesium.Color.RED.withAlpha(0.5)
    var THA_WHITE = Cesium.Color.WHITE.withAlpha(0.5)
    var THA_BLUE = Cesium.Color.BLUE.withAlpha(0.5)
    var color_tha_flag = [THA_RED, THA_WHITE, THA_BLUE, THA_WHITE, THA_RED]


    for (var list_color_flag = 10; list_color_flag < 15; list_color_flag++) {
        entities.add({
            name: "THAILAND NO. " + [list_color_flag - 9],
            parent: boxes_thailand_items_Color_list[list_color_flag - 10],
            position: Cesium.Cartesian3.fromDegrees(temp_boxes[list_color_flag][0], temp_boxes[list_color_flag][1], (70.0 * list_color_flag) / 10),
            box: {
                dimensions: new Cesium.Cartesian3(25.0, 100.0, 300.0),
                material: color_tha_flag[list_color_flag - 10],
                outline: true,
                outlineColor: Cesium.Color.BLACK,
            },

        });
    }

    boxes_thailand_items_Color_list[0].show = false
    boxes_thailand_items_Color_list[1].show = false
    boxes_thailand_items_Color_list[2].show = false
    boxes_thailand_items_Color_list[3].show = false
    boxes_thailand_items_Color_list[4].show = false


    const greenCircle888 = viewer.entities.add({
        position: Cesium.Cartesian3.fromDegrees(100.92766284942627, 13.100263442877834, 30.0),
        name: "Green circle at height with outline",
        ellipse: {
            semiMinorAxis: 30.0,
            semiMajorAxis: 45.0,
            height: 20.0,
            material: "https://raw.githubusercontent.com/Apizz789/GISTDA_INTERNSHIP/main/PIC/astrolablogo.png",
            outline: true,
        },
    });

    const redCone = viewer.entities.add({
        name: "RGB cone",
        label: {
            id: 'my label',
            text: "GISTDA",
            verticalOrigin: Cesium.VerticalOrigin.TOP,
            font: '20px Helvetica',
            fillColor: Cesium.Color.WHITE,
            outlineWidth: 2,
            style: Cesium.LabelStyle.FILL,

        },
        position: Cesium.Cartesian3.fromDegrees(100.92990517616272, 13.10019029554588, 125.0),
        cylinder: {
            length: 60.0,
            topRadius: 0.0,
            bottomRadius: 50.0,
            material: new Cesium.ColorMaterialProperty(fadeColor),
        },
    });



    const redLine = viewer.entities.add({
        name: "Red line on terrain",
        polyline: {
            positions: Cesium.Cartesian3.fromDegreesArray([
                100.92999637126921,
                13.097995865482678,

                100.92994272708893,
                13.099782760012907,

                100.93048453330994,
                13.099787984831707,

                100.93045771121977,
                13.100686652014678,

                100.92942774295807,
                13.100676202415105,

                100.92942774295807,
                13.097974966054723,

                100.92655777931213,
                13.097943616909477,

                100.9255975484848,
                13.099349099666506,

                100.92560291290283,
                13.099419634835106,

                100.92561900615692,
                13.099484945158382,

                100.92564046382904,
                13.099537193404531,

                100.9256511926651,
                13.099568542346896,]),
            width: 5,
            material: Cesium.Color.RED,
            clampToGround: true,
        },
    });



    viewer.flyTo(redCone);


    var ttest;
    var flightData1 = []
    var flightData1 = []
    var flightData2 = []


    var entityPosition1 = [];
    var entityPosition2 = [];

    var Resettime = false



    //   viewer.trackedEntity = ppoint;
    var Launcher1 = [13.099573767170236, 100.92565655708313]
    var Destination = [13.103178868841393, 100.93235135078429]

    var Launcher2 = [13.103220666812025, 100.9242296218872]
    var Destination2 = [13.101245704944384, 100.9326946735382]

    ttest = [12.639053333333319, 83.23961333333331, 64800]


    const positionProperty1 = new Cesium.SampledPositionProperty();
    const positionProperty2 = new Cesium.SampledPositionProperty();


    var check_centroid_pos1 = []
    var check_centroid_pos2 = []
    // const d = Cesium.Cartesian3.distance(new Cesium.Cartesian3(10470653.662, 15980600.791, 0.0), new Cesium.Cartesian3(11468313.524, 16934908.695, 0.0));

    // const d = Cesium.Cartesian3.distance(new Cesium.Cartesian3.fromDegrees(100.5968, 13.5993), new Cesium.Cartesian3.fromDegrees(100.9167, 14.5333))/1000;





    // STEP 6 CODE (airplane entity)
    async function loadModel() {
        viewer.flyTo(entities);
        var int1 = setInterval(display, 10)


        n_count_dummy_flag = 0

        Resettime = true
        flightData1 = []
        flightData2 = []



        Point = function (x, y, z) {
            this.latitude = x;
            this.longitude = y;
            this.height = z;

        }


        var StartHeight = 100.0
        var EndHeight = 500.0

        var pointA = new Point(Launcher1[0], Launcher1[1], StartHeight);
        var pointB = new Point(Destination[0], Destination[1], EndHeight);

        var pointC = new Point(Launcher1[0], Launcher1[1], StartHeight);
        var pointD = new Point(Launcher1[0], Launcher1[1], StartHeight + 10000);


        var pointX = new Point(Launcher2[0], Launcher2[1], StartHeight);
        var pointY = new Point(Destination2[0], Destination2[1], EndHeight);

        var pointZ = new Point(Launcher1[0], Launcher1[1], StartHeight + 10000);


        var numberOfPoints = 32;
        var numberOfPoints2 = 65;

        // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------

        for (var i = 0; i < numberOfPoints; i++) {

            flightData1.push(new Point(
                ((pointA.latitude - pointB.latitude) / numberOfPoints) * i + pointB.latitude,
                ((pointA.longitude - pointB.longitude) / numberOfPoints) * i + pointB.longitude,
                ((pointA.height - pointB.height) / numberOfPoints) * i + pointB.height))

        }

        for (var i = 0; i < numberOfPoints2; i++) {
            flightData2.push(new Point(
                ((pointX.latitude - pointY.latitude) / numberOfPoints2) * i + pointY.latitude,
                ((pointX.longitude - pointY.longitude) / numberOfPoints2) * i + pointY.longitude,
                ((pointX.height - pointY.height) / numberOfPoints2) * i + pointY.height));

        }

        // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------


        for (var n = 0; n < temp_line.length; n++) {

            flightData1.push(new Point(temp_line[n][0], temp_line[n][1], temp_line[n][2]));
            console.log("5666666")

        }

        // flightData2.push(new Point(Launcher1[0], Launcher1[1], StartHeight), new Point(Launcher1[0], Launcher1[1], (StartHeight / 2)), new Point(Launcher1[0], Launcher1[1], 0.0))


        const timeStepInSeconds = 10;
        const totalSeconds = timeStepInSeconds * (flightData1.length - 1);


        const start = Cesium.JulianDate.now();
        const stop = Cesium.JulianDate.addSeconds(start, totalSeconds, new Cesium.JulianDate());



        const start2 = Cesium.JulianDate.now();
        const stop2 = Cesium.JulianDate.addSeconds(start2, totalSeconds, new Cesium.JulianDate());

        console.log(stop, stop2)


        viewer.clock.startTime = start.clone();
        viewer.clock.stopTime = stop.clone();




        viewer.clock.currentTime = start.clone();
        viewer.timeline.zoomTo(start, stop);

        // Speed up the playback speed 50x.
        viewer.clock.multiplier = 5;
        // Start playing the scene.
        viewer.clock.shouldAnimate = true;


        // Load the glTF model from Cesium ion.
        //   https://sketchfab.com/3d-models/drone-v1-a75a15d00a144d108c3f9c7b31c4ff97

        const center = new Cesium.Cartesian3.fromDegrees(0, 0, 0);
        // console.log(positionProperty1._property._values);
        const Heading = Cesium.Math.toRadians(0.0);
        const Pitch = Cesium.Math.toRadians(90.0);
        const Roll = Cesium.Math.toRadians(0.0);
        const orientation = Cesium.Transforms.headingPitchRollQuaternion(center, new Cesium.HeadingPitchRoll(Heading, Pitch, Roll))



        const airplaneUri = await Cesium.IonResource.fromAssetId(1196865);
        const airplaneUri2 = await Cesium.IonResource.fromAssetId(1196865);



        const airplaneEntity = viewer.entities.add({

            availability: new Cesium.TimeIntervalCollection([new Cesium.TimeInterval({ start: start, stop: stop })]),
            description: `Location: (${positionProperty1})`,
            position: positionProperty1,
            // Attach the 3D model instead of the green point.
            model: { uri: airplaneUri, minimumPixelSize: 50, maximumPixelSize: 50 },
            // Automatically compute the orientation from the position.
            orientation: new Cesium.VelocityOrientationProperty(positionProperty1),
            path: new Cesium.PathGraphics({ width: 3 })
        });

        const airplaneEntity2 = viewer.entities.add({

            availability: new Cesium.TimeIntervalCollection([new Cesium.TimeInterval({ start: start2, stop: stop2 })]),
            description: `Location: (${positionProperty1})`,
            position: positionProperty2,
            // Attach the 3D model instead of the green point.
            model: { uri: airplaneUri2, minimumPixelSize: 50, maximumPixelSize: 50 },
            // Automatically compute the orientation from the position.
            orientation: new Cesium.VelocityOrientationProperty(positionProperty2),
            path: new Cesium.PathGraphics({ width: 3 })
        });


        flightData1.reverse();
        for (let i = 0; i < flightData1.length; i++) {
            const dataPoint = flightData1[i];

            const time = Cesium.JulianDate.addSeconds(start, i * timeStepInSeconds, new Cesium.JulianDate());
            const position = Cesium.Cartesian3.fromDegrees(dataPoint.longitude, dataPoint.latitude, dataPoint.height);

            positionProperty1.addSample(time, position);

            viewer.entities.add({
                description: `Location: (${dataPoint.longitude}, ${dataPoint.latitude}, ${dataPoint.height})`,
                position: position,
                point: { pixelSize: 10, color: Cesium.Color.RED }
            });
            entityPosition1.push({
                lat: dataPoint.latitude,
                long: dataPoint.longitude,
                alt: dataPoint.height,
                ti: time,
            });


        }

        flightData2.reverse();
        for (let i = 0; i < flightData2.length; i++) {
            const dataPoint = flightData2[i];

            const time2 = Cesium.JulianDate.addSeconds(start2, i * timeStepInSeconds, new Cesium.JulianDate());
            const position2 = Cesium.Cartesian3.fromDegrees(dataPoint.longitude, dataPoint.latitude, dataPoint.height);

            positionProperty2.addSample(time2, position2);

            viewer.entities.add({
                description: `Location: (${dataPoint.longitude}, ${dataPoint.latitude}, ${dataPoint.height})`,
                position: position2,
                point: { pixelSize: 10, color: Cesium.Color.BLUE }
            });

            entityPosition2.push({
                lat: dataPoint.latitude,
                long: dataPoint.longitude,
                alt: dataPoint.height,
                ti: time2,
            });

        }


    }


    function clearAll() {
        // pauseTime() 
        Resettime = false
        viewer.entities.removeAll();
        entities.removeAll();
        location.reload()


    }
    function Aobject_toggleCallbackTrue() {
        return true;
    }
    function Aobject_toggleCallbackFalse() {
        return false;
    }

    const main_animation = entities.add(new Cesium.Entity());
    const dummy_waring_animation = entities.add(new Cesium.Entity());
    const dummy_danger_animation = entities.add(new Cesium.Entity());
    


    function show_cylinder_dangerZone() {
        main_animation.show = false;
        dummy_danger_animation.show = true;
        dummy_waring_animation.show = false
    }


    function show_cylinder_warningZone() {
        main_animation.show = false;
        dummy_danger_animation.show = false;
        dummy_waring_animation.show = true;
    }

    

    function show_cylinder() {
        main_animation.show = true;
        dummy_danger_animation.show = false;
        dummy_waring_animation.show = false
        
    }


    var rha_check = false;

    if (rha_check == true) {


        var THA_RED = Cesium.Color.RED.withAlpha(0.5)

        entities.add({
            name: "THAILAND NO. 1",
            parent: boxes_thailand_items_Color1,
            position: Cesium.Cartesian3.fromDegrees(temp_boxes[10][0], temp_boxes[10][1], (70.0 * 10) / 10),
            box: {
                dimensions: new Cesium.Cartesian3(30.0, 30.0, 1000.0),
                material: THA_RED,
                outline: true,
                outlineColor: Cesium.Color.BLACK,
            },
        });

        boxes_thailand_items_Wait1.show = false;
        boxes_thailand_items_Color1.show = true;

    }





    function display() {

        // check_centroid_pos1 = []
        // check_centroid_pos2 = []

        var searchObj1 = entityPosition1.find((e) => parseInt(e.ti.secondsOfDay) > parseInt(viewer.clock.currentTime.secondsOfDay) && e.ti.dayNumber === viewer.clock.currentTime.dayNumber);
        var searchObj2 = entityPosition2.find((e) => parseInt(e.ti.secondsOfDay) > parseInt(viewer.clock.currentTime.secondsOfDay) && e.ti.dayNumber === viewer.clock.currentTime.dayNumber);
        var setHeight = 30.0
        var setRadians = 25.0



        entities.add({
            name: "Green cylinder with black outline NO. 1",
            label: {
                id: 'my 3D label',
                text: 'TDN308',
                // pixelOffset: new Cesium.Cartesian2(0.0, 20),
                font: '10px Helvetica',
                verticalOrigin: Cesium.VerticalOrigin.TOP,
                horizontalOrigin: Cesium.HorizontalOrigin.CENTER,
            },
            parent: main_animation,
            position: positionProperty1,
            orientation: new Cesium.VelocityOrientationProperty(positionProperty1),
            cylinder: {

                length: setHeight,
                topRadius: setRadians,
                bottomRadius: setRadians,
                // material: new Cesium.ColorMaterialProperty(fadeColor),
                material: Cesium.Color.LIGHTGREEN.withAlpha(0.5),
                outline: true,
                outlineColor: Cesium.Color.DARK_GREEN,
                minimumPixelSize: 750, maximumPixelSize: 750
            },
        })



        entities.add({
            parent: main_animation,
            label: {
                id: 'my 3D label',
                text: 'TDN048',
                // pixelOffset: new Cesium.Cartesian2(0.0, 20),
                font: '10px Helvetica',
                verticalOrigin: Cesium.VerticalOrigin.TOP,
                horizontalOrigin: Cesium.HorizontalOrigin.CENTER,
            },
            name: "Green cylinder with black outline NO. 2",
            position: positionProperty2,
            orientation: new Cesium.VelocityOrientationProperty(positionProperty2),
            cylinder: {
                length: setHeight,
                topRadius: setRadians,
                bottomRadius: setRadians,
                material: Cesium.Color.LIGHTGREEN.withAlpha(0.5),
                outline: true,
                outlineColor: Cesium.Color.DARK_GREEN,
                minimumPixelSize: 750, maximumPixelSize: 750,


            },
        })


        check_centroid_pos1.push(searchObj1)
        check_centroid_pos2.push(searchObj2)


        if ((searchObj1 !== undefined) && (searchObj2 !== undefined) && Resettime == true) {



            var setpos_thaflag = [
                { flaglat: 13.097943616909477, flaglong: 100.92655777931213, flagheight: 70.0 },
                { flaglat: 13.09825710818236, flaglong: 100.92632174491882, flagheight: 77.0 },
                { flaglat: 13.098581048745066, flaglong: 100.92609643936157, flagheight: 84.0 },
                { flaglat: 13.098915438556338, flaglong: 100.92587113380432, flagheight: 91.0 },
                { flaglat: 13.099239378252992, flaglong: 100.92564582824706, flagheight: 98.0 },

            ]


            const distance_btw_drone_THA_p1 = Cesium.Cartesian3.distance(new Cesium.Cartesian3.fromDegrees(searchObj1.long, searchObj1.lat, searchObj1.alt), new Cesium.Cartesian3.fromDegrees(setpos_thaflag[0].flaglong, setpos_thaflag[0].flaglat, setpos_thaflag[0].flagheight)) / 1000;
            const distance_btw_drone_THA_p2 = Cesium.Cartesian3.distance(new Cesium.Cartesian3.fromDegrees(searchObj1.long, searchObj1.lat, searchObj1.alt), new Cesium.Cartesian3.fromDegrees(setpos_thaflag[1].flaglong, setpos_thaflag[1].flaglat, setpos_thaflag[1].flagheight)) / 1000;
            const distance_btw_drone_THA_p3 = Cesium.Cartesian3.distance(new Cesium.Cartesian3.fromDegrees(searchObj1.long, searchObj1.lat, searchObj1.alt), new Cesium.Cartesian3.fromDegrees(setpos_thaflag[2].flaglong, setpos_thaflag[2].flaglat, setpos_thaflag[2].flagheight)) / 1000;
            const distance_btw_drone_THA_p4 = Cesium.Cartesian3.distance(new Cesium.Cartesian3.fromDegrees(searchObj1.long, searchObj1.lat, searchObj1.alt), new Cesium.Cartesian3.fromDegrees(setpos_thaflag[3].flaglong, setpos_thaflag[3].flaglat, setpos_thaflag[3].flagheight)) / 1000;
            const distance_btw_drone_THA_p5 = Cesium.Cartesian3.distance(new Cesium.Cartesian3.fromDegrees(searchObj1.long, searchObj1.lat, searchObj1.alt), new Cesium.Cartesian3.fromDegrees(setpos_thaflag[4].flaglong, setpos_thaflag[4].flaglat, setpos_thaflag[4].flagheight)) / 1000;

            console.log("D1 : " + distance_btw_drone_THA_p1 + " (" + ((setRadians * 2) / 1000) + ")")
            console.log("D2 : " + distance_btw_drone_THA_p2 + " (" + ((setRadians * 2) / 1000) + ")")
            console.log("D3 : " + distance_btw_drone_THA_p3 + " (" + ((setRadians * 2) / 1000) + ")")
            console.log("D4 : " + distance_btw_drone_THA_p4 + " (" + ((setRadians * 2) / 1000) + ")")
            console.log("D5 : " + distance_btw_drone_THA_p5 + " (" + ((setRadians * 2) / 1000) + ")")

            if (distance_btw_drone_THA_p1 < ((setRadians) / 1000) - 0.005) {
                boxes_guardian_items_BW_list[0].show = false;
                boxes_thailand_items_Color_list[0].show = true;
                console.log("SHOW 1")
            } else if (distance_btw_drone_THA_p2 < ((setRadians * 2) / 1000)) {
                boxes_guardian_items_BW_list[1].show = false;
                boxes_thailand_items_Color_list[1].show = true;
                console.log("SHOW 2")
            } else if (distance_btw_drone_THA_p3 < ((setRadians * 2) / 1000)) {
                boxes_guardian_items_BW_list[2].show = false;
                boxes_thailand_items_Color_list[2].show = true;
                console.log("SHOW 3")
            } else if (distance_btw_drone_THA_p4 < ((setRadians * 2) / 1000)) {
                boxes_guardian_items_BW_list[3].show = false;
                boxes_thailand_items_Color_list[3].show = true;
                console.log("SHOW 4")
            } else if (distance_btw_drone_THA_p5 < ((setRadians * 2) / 1000)) {
                boxes_guardian_items_BW_list[4].show = false;
                boxes_thailand_items_Color_list[4].show = true;
                console.log("SHOW 5")
            }


            const d = Cesium.Cartesian3.distance(new Cesium.Cartesian3.fromDegrees(searchObj1.long, searchObj1.lat, searchObj1.alt), new Cesium.Cartesian3.fromDegrees(searchObj2.long, searchObj2.lat, searchObj2.alt)) / 1000;
            console.log("D : " + d + " KM")


            var colRed = Cesium.Color.RED.withAlpha(0.5)
            var colGold= Cesium.Color.GOLD.withAlpha(0.5)
            if (d < ((setRadians * 4) / 1000) && d > ((setRadians * 2) / 1000)) {

                entities.add({
                    parent: dummy_waring_animation,
                    label: {
                        id: 'my 3D label',
                        text: 'TDN308',
                        // pixelOffset: new Cesium.Cartesian2(0.0, 20),
                        font: '10px Helvetica',
                        verticalOrigin: Cesium.VerticalOrigin.TOP,
                        horizontalOrigin: Cesium.HorizontalOrigin.CENTER,
                    },
                    name: "GOLD cylinder with black outline NO. 1",
                    position: positionProperty1,
                    orientation: new Cesium.VelocityOrientationProperty(positionProperty1),
                    cylinder: {
                        length: setHeight,
                        topRadius: setRadians,
                        bottomRadius: setRadians,
                        material: Cesium.Color.GOLD.withAlpha(0.5),
                        outline: true,
                        outlineColor: Cesium.Color.DARK_RED,
                        minimumPixelSize: 750, maximumPixelSize: 750,
                    },
                });


                entities.add({
                    parent: dummy_waring_animation,
                    label: {
                        id: 'my 3D label',
                        text: 'TDN048',
                        // pixelOffset: new Cesium.Cartesian2(0.0, 20),
                        font: '10px Helvetica',
                        verticalOrigin: Cesium.VerticalOrigin.TOP,
                        horizontalOrigin: Cesium.HorizontalOrigin.CENTER,
                    },
                    name: "GOLD cylinder with black outline NO. 2",
                    position: positionProperty2,
                    orientation: new Cesium.VelocityOrientationProperty(positionProperty2),
                    cylinder: {
                        length: setHeight,
                        topRadius: setRadians,
                        bottomRadius: setRadians,
                        material: Cesium.Color.GOLD.withAlpha(0.5),
                        outline: true,
                        outlineColor: Cesium.Color.DARK_RED,
                        minimumPixelSize: 750, maximumPixelSize: 750,
                    },
                });


                show_cylinder_warningZone()
                console.log("WARING WARING")


            }else if (d < ((setRadians * 2) / 1000)) {

                entities.add({
                    parent: dummy_danger_animation,
                    label: {
                        id: 'my 3D label',
                        text: 'TDN308',
                        // pixelOffset: new Cesium.Cartesian2(0.0, 20),
                        font: '10px Helvetica',
                        verticalOrigin: Cesium.VerticalOrigin.TOP,
                        horizontalOrigin: Cesium.HorizontalOrigin.CENTER,
                    },
                    name: "RED cylinder with black outline NO. 1",
                    position: positionProperty1,
                    orientation: new Cesium.VelocityOrientationProperty(positionProperty1),
                    cylinder: {
                        length: setHeight,
                        topRadius: setRadians,
                        bottomRadius: setRadians,
                        material: Cesium.Color.CRIMSON.withAlpha(0.5),
                        outline: true,
                        outlineColor: Cesium.Color.DARK_RED,
                        minimumPixelSize: 750, maximumPixelSize: 750,
                    },
                });


                entities.add({
                    parent: dummy_danger_animation,
                    label: {
                        id: 'my 3D label',
                        text: 'TDN048',
                        // pixelOffset: new Cesium.Cartesian2(0.0, 20),
                        font: '10px Helvetica',
                        verticalOrigin: Cesium.VerticalOrigin.TOP,
                        horizontalOrigin: Cesium.HorizontalOrigin.CENTER,
                    },
                    name: "RED cylinder with black outline NO. 2",
                    position: positionProperty2,
                    orientation: new Cesium.VelocityOrientationProperty(positionProperty2),
                    cylinder: {
                        length: setHeight,
                        topRadius: setRadians,
                        bottomRadius: setRadians,
                        material: Cesium.Color.CRIMSON.withAlpha(0.5),
                        outline: true,
                        outlineColor: Cesium.Color.DARK_RED,
                        minimumPixelSize: 750, maximumPixelSize: 750,
                    },
                });

                show_cylinder_dangerZone();

                console.log("JER LAEW")
            } else {
                show_cylinder();

            }

        } else {
            pauseTime()
            console.log("Wating Data . . .")
        }


    }



    // -------------------------------------
    // FIREWORK SSSSSSSSSSSSSSSSSSSSSSSSSSSSS
    // -------------------------------------

    const scene = viewer.scene;
    scene.debugShowFramesPerSecond = true;

    Cesium.Math.setRandomNumberSeed(315);

    const modelMatrix = Cesium.Transforms.eastNorthUpToFixedFrame(
        Cesium.Cartesian3.fromDegrees(100.92990517616272, 13.10019029554588)
    );
    const emitterInitialLocation = new Cesium.Cartesian3(0.0, 0.0, 200.0);

    let particleCanvas;

    function getImage() {
        if (!Cesium.defined(particleCanvas)) {
            particleCanvas = document.createElement("canvas");
            particleCanvas.width = 20;
            particleCanvas.height = 20;
            const context2D = particleCanvas.getContext("2d");
            context2D.beginPath();
            context2D.arc(8, 8, 8, 0, Cesium.Math.TWO_PI, true);
            context2D.closePath();
            context2D.fillStyle = "rgb(255, 255, 255)";
            context2D.fill();
        }
        return particleCanvas;
    }

    const minimumExplosionSize = 30.0;
    const maximumExplosionSize = 100.0;
    const particlePixelSize = new Cesium.Cartesian2(7.0, 7.0);
    const burstSize = 400.0;
    const lifetime = 10.0;
    const numberOfFireworks = 20.0;

    const emitterModelMatrixScratch = new Cesium.Matrix4();

    function createFirework(offset, color, bursts) {
        const position = Cesium.Cartesian3.add(
            emitterInitialLocation,
            offset,
            new Cesium.Cartesian3()
        );
        const emitterModelMatrix = Cesium.Matrix4.fromTranslation(
            position,
            emitterModelMatrixScratch
        );
        const particleToWorld = Cesium.Matrix4.multiply(
            modelMatrix,
            emitterModelMatrix,
            new Cesium.Matrix4()
        );
        const worldToParticle = Cesium.Matrix4.inverseTransformation(
            particleToWorld,
            particleToWorld
        );

        const size = Cesium.Math.randomBetween(
            minimumExplosionSize,
            maximumExplosionSize
        );
        const particlePositionScratch = new Cesium.Cartesian3();
        const force = function (particle) {
            const position = Cesium.Matrix4.multiplyByPoint(
                worldToParticle,
                particle.position,
                particlePositionScratch
            );
            if (Cesium.Cartesian3.magnitudeSquared(position) >= size * size) {
                Cesium.Cartesian3.clone(
                    Cesium.Cartesian3.ZERO,
                    particle.velocity
                );
            }
        };

        const normalSize =
            (size - minimumExplosionSize) /
            (maximumExplosionSize - minimumExplosionSize);
        const minLife = 0.3;
        const maxLife = 1.0;
        const life = normalSize * (maxLife - minLife) + minLife;

        scene.primitives.add(
            new Cesium.ParticleSystem({
                image: getImage(),
                startColor: color,
                endColor: color.withAlpha(0.0),
                particleLife: life,
                speed: 100.0,
                imageSize: particlePixelSize,
                emissionRate: 0,
                emitter: new Cesium.SphereEmitter(0.1),
                bursts: bursts,
                lifetime: lifetime,
                updateCallback: force,
                modelMatrix: modelMatrix,
                emitterModelMatrix: emitterModelMatrix,
            })
        );
    }

    const xMin = -100.0;
    const xMax = 100.0;
    const yMin = -80.0;
    const yMax = 100.0;
    const zMin = -50.0;
    const zMax = 50.0;

    const colorOptions = [
        {
            minimumRed: 0.75,
            green: 0.0,
            minimumBlue: 0.8,
            alpha: 1.0,
        },
        {
            red: 0.0,
            minimumGreen: 0.75,
            minimumBlue: 0.8,
            alpha: 1.0,
        },
        {
            red: 0.0,
            green: 0.0,
            minimumBlue: 0.8,
            alpha: 1.0,
        },
        {
            minimumRed: 0.75,
            minimumGreen: 0.75,
            blue: 0.0,
            alpha: 1.0,
        },
    ];

    for (let i = 0; i < numberOfFireworks; ++i) {
        const x = Cesium.Math.randomBetween(xMin, xMax);
        const y = Cesium.Math.randomBetween(yMin, yMax);
        const z = Cesium.Math.randomBetween(zMin, zMax);
        const offset = new Cesium.Cartesian3(x, y, z);
        const color = Cesium.Color.fromRandom(
            colorOptions[i % colorOptions.length]
        );

        const bursts = [];
        for (let j = 0; j < 3; ++j) {
            bursts.push(
                new Cesium.ParticleBurst({
                    time: Cesium.Math.nextRandomNumber() * lifetime,
                    minimum: burstSize,
                    maximum: burstSize,
                })
            );
        }

        createFirework(offset, color, bursts);
    }

    const camera = viewer.scene.camera;
    const cameraOffset = new Cesium.Cartesian3(100.0, 100.0, 0.0);
    camera.lookAtTransform(modelMatrix, cameraOffset);
    camera.lookAtTransform(Cesium.Matrix4.IDENTITY);

    const toFireworks = Cesium.Cartesian3.subtract(
        emitterInitialLocation,
        cameraOffset,
        new Cesium.Cartesian3()
    );
    Cesium.Cartesian3.normalize(toFireworks, toFireworks);
    const angle =
        Cesium.Math.PI_OVER_TWO -
        Math.acos(
            Cesium.Cartesian3.dot(toFireworks, Cesium.Cartesian3.UNIT_Z)
        );



</script>

</html>



<!-- 
"label" : {
    "fillColor" : {
        "rgba" : [255, 255, 0, 255]
    },
    "font" : "bold 10pt Segoe UI Semibold",
    "horizontalOrigin" : "LEFT",
    "outlineColor" : {
        "rgba" : [0, 0, 0, 255]
    },
    "pixelOffset" : {
        "cartesian2" : [10.0, 0.0]
    },
    "scale" : 1.0,
    "show" : true,
    "style" : "FILL",
    "text" : "Moon",
    "verticalOrigin" : "CENTER" -->